* {
  /* universal */
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  /*background-color: #f1f1f1;*/
  background-image: url('../images/area\ wibu\ official-1.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px;
  /* object-fit: cover; */
  text-align: center;
  background-size: 100%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  /* background-color: #B1EAE8; */
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  /* color: #107A92; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
  background-color: #FFF7EC;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  /* membersihkan float left sebelumnya */
}

.row {
  background-color: #FFF7EC;
}

/* card for content */
.card {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1 #FFFFFF;
  box-shadow: 5px 5px lightgray;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column.side,
  .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  padding: 5px;
  text-align: center;
}